<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iWallic</title>
</head>
<body>
  <nav>
    <div class="dropdown">
        <button class="dropbtn">
          <span>English</span>
          <img src="../../assets/dropdown.png">
        </button>
      <div class="dropdown-content">
        <a href="/cn/index.html">中文简体</a>
        <a href="/en/index.html">English</a>
      </div>
    </div>
  </nav>
  <article>
    <div class="left-img isvisibled"></div>
    <div class="right-download">
      <div class="logo">
        <img src="../../assets/logo.png" alt="logo" class="img-logo">
        <img src="../../assets/fontlogo.svg" alt="iwallic" width="126px" height="28px">
      </div>
      <div class="tip">这里是关于轻钱包的介绍，知道什么是最方便的neo钱包吗？</div>
      <div class="download">
        <button class="btn-android"><a href="https://api.iwallic.com/download/android"><img src="../../assets/img-ad.png">Android 下载</a></button>
        <button class="btn-ios"><a href="javascript: ;"><img src="../../assets/img-Ip.png">IOS 下载</a></button>
      </div>
      <div class="web-wallet"><a href="https://app.iwallic.com">点此登录网页版钱包</a></div>
    </div>
  </article>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?401fb76b17a1ae239571dc7876b321ab";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>
</html>