<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico">
  <title>iWallic</title>
</head>
<body>
  <nav>
    <div class="dropdown">
      <button class="nav-btn blolys-btn">
        <a href="https://blolys.com" class="blolys-link" target="_blank">Blolys 区块浏览器</a>
      </button>
      <button class="nav-btn dropbtn">
        <span>English</span>
        <img src="../../assets/dropdown.png">
      </button>
      <div class="dropdown-content">
        <a href="/cn/index.html">中文简体</a>
        <a href="/en/index.html">English</a>
      </div>
    </div>
  </nav>
  <article>
    <div class="left-img">
      <img src="../../assets/iwallic.gif" alt="iwallic gif">
    </div>
    <div class="right-download">
      <div class="logo">
        <img src="../../assets/logo.png" alt="logo" class="img-logo">
        <img src="../../assets/fontlogo.svg" alt="iwallic" width="126px" height="28px">
      </div>
      <div class="notification">全面公测中</div>
      <div class="tip">一个 NEO 系轻钱包 —— 来自 COOL 社区</div>
      <div class="download">
        <button class="btn-android"><img src="../../assets/img-ad.png">Android 下载</button>
      </div>
      <div class="pc-download">
        <p>安卓版下载</p>
        <img src="../../assets/android-download.png" alt="android download">
      </div>
      <div class="web-wallet"><a href="https://app.iwallic.com" target="_blank">点此登录网页版钱包</a></div>
    </div>
  </article>
  <div class="weixin-tip">
    <p>
      <img src="../../assets/guide.png" alt="微信打开"/>
    </p>
    <button>知道了</button>
  </div>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?401fb76b17a1ae239571dc7876b321ab";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>
</html>