<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="iWallic" />
    <meta property="og:locale" content="zh_CN" />
    <meta name="description" content="iWallic" />
    <meta property="og:description" content="iWallic" />
    <link rel="canonical" href="https://iwallic.com" />
    <meta property="og:url" content="https://iwallic.com" />
    <meta property="og:site_name" content="iWallic" />
    <script type="application/ld+json">
        {
            "name": "iWallic",
            "description": "一个 NEO 系轻钱包 —— 来自 COOL 社区",
            "@type": "WebSite",
            "url": "https://iwallic.com",
            "headline": "iWallic 轻钱包",
            "@context": "http://schema.org"
        }
    </script>
    <!-- Bing -->
    <meta name="msvalidate.01" content="76D427EBCB2CDA272A35CED6881DBAE7" />
    <!-- Baidu -->
    <!-- <meta name="baidu-site-verification" content="" /> -->
    <!-- Sougou -->
    <!-- <meta name="sogou_site_verification" content=""/> -->
    <!-- 360 -->
    <!-- <meta name="360-site-verification" content="" /> -->
    <!-- google -->
    <!-- <meta name="google-site-verification" content="" /> -->

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>iWallic</title>
</head>

<body>
    <nav>
        <div class="dropdown">
            <button class="nav-btn blolys-btn">
				<a href="https://blolys.com" class="blolys-link" target="_blank">Blolys 区块浏览器</a>
			</button>
            <button class="nav-btn dropbtn">
				<span>English</span>
				<img src="/assets/dropdown.png">
			</button>
            <div class="dropdown-content">
                <a href="/cn/index.html">中文简体</a>
                <a href="/en/index.html">English</a>
            </div>
        </div>
    </nav>
    <article>
        <div class="left-img">
            <img src="/assets/iwallic.gif" alt="iwallic gif">
        </div>
        <div class="right-download">
            <div class="logo">
                <img src="/assets/logo.png" alt="logo" class="img-logo">
                <img src="/assets/fontlogo.svg" alt="iwallic" width="126px" height="28px">
            </div>
            <div class="notification">全面公测中 <b class="version"></b></div>
            <!-- <div class="tip">一个 NEO 系轻钱包 —— 来自 E-Studio 社区</div> -->
            <div class="update-detail">
                <p class="left">iWallic 爱我钱包重要公告：</p>
                <br>
                <p class="left">由于NEO 3.0的更新改版，我们为了更好地适配，决定对服务器进行维护升级，预计两天内完成。维护升级期间功能无法正常使用。请大家等待升级完毕后再使用。</p>
                <br>
                <p class="left">如想要查看资产，可暂时先用地址在NEO区块链浏览器（地址：<a href="http://state.otcgo.cn/?idx=0" target="_blank">http://state.otcgo.cn/?idx=0</a>）中查看。<span class="important">另，iWallic钱包只是显示区块链交易详情，所有交易是由区块链完成，故不存在钱包上资产丢失的情况，请大家不必担心。</span>使用过程中有任何疑问都可以私信客服微信号：EXChain001！ </p>
                <br>
                <p class="left">最新修复消息我们将第一时间在社群内公布。</p>
                <br>
                <p class="right">2019 年 5 月 5 日</p>
            </div>
            <div class="download">
                <button class="btn-android"><img src="/assets/img-ad.png">Android 下载</button>
            </div>
            <div class="pc-download">
                <p>安卓版下载</p>
                <img src="/assets/android-download.png" alt="android download">
            </div>
            <div class="web-wallet"><a href="https://app.iwallic.com" target="_blank">点此登录网页版钱包</a></div>
        </div>
    </article>
    <div class="weixin-tip">
        <p>
            <img src="/assets/guide.png" alt="微信打开" />
        </p>
        <button>知道了</button>
    </div>
    <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>
            <script>
                var _hmt = _hmt || [];
                (function() {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?401fb76b17a1ae239571dc7876b321ab";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
</body>

</html>